version: "3.9"

services:
  llumdocs:
    build:
      context: ..
      dockerfile: docker/Dockerfile
    container_name: llumdocs
    env_file:
      - ../.env
    ports:
      - "7861:7861"
    environment:
      PYTHONUNBUFFERED: "1"
      SERVER_PORT: "7861"
    extra_hosts:
      - "host.docker.internal:host-gateway"
